In [ ]:
# Question 1: Print the first ten natural numbers
# Natural numbers are positive numbers from 1 to infinity
# Let X be the first ten natural numbers
X = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
print (X)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
# Question 2: print(" ==== The first ten natural numbers ====")
print(" ==== The first ten natural numbers ====")

 ==== The first ten natural numbers ====

In [ ]:
# Question 3: Count the total number of digits in a number
# To count the number of digits in a number we use the length function
print(len(" a number: "))

11

In [ ]:
# Question 4: Write program to display all prime numbers within a range
start = 1
end = 20

for num in range(start, end + 1):
    if num > 1:
        is_prime = True

        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break

        if is_prime:
            print(num)

2
3
5
7
11
13
17
19

In [ ]:
# Question 5: Write a program to print a multiplication table of a given number
number = 5   # change this number to any value

for i in range(1, 11):
    print(number, "x", i, "=", number * i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Attendance
# 1. Joyce
# 2. Nimotallahi
# 3. Deborah
# 4. Benita
# 5. Adeola
6. ⁠Grace
7. ⁠Ose Joy